*,
html{
    margin: 0;
    padding:0;
}

body{}

.container-navbar{
    background-color: aqua;
    width: 100%;
    height:100px;
}

.ul-navbar{
    background-color:rgb(137, 142, 3);
    display:flex;
    height: 100px;
    justify-content:center;
    align-items: center;
}
.li-navbar{
    list-style-type:none;
    margin: 5px;
    padding:10px;
    color: white;
    font-size: 20px;
}

.li-navbar:hover{
    background-color: blue;
    border-radius: 10px;
    transition: 0.5s;
}

.a-navbar{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container-content{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center; 
    height: 80vh;
}

.a-content{
    color:rgb(23, 242, 4) ;
    background-color:;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:50px;
}

.IMG-CONTENT{
  height: 300px;
  width: 300px;
}
.tulisan-content{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: top 10px;
}

.container-footer{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size: 40px;  
}
